<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Player Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="username">Username</label>
          <input *ngIf="f" type="text" formControlName="username" class="form-control" [class.is-invalid]=" submitted && f.username.errors "/>
      </div>
      <div class="form-group">
        <button class="btn btn-outline-dark" [disabled]="submitted">Add</button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">New Friend</button>