<ul class="nav nav-tabs">
    <li class="nav-item" routerLink="/friends">
      <a class="nav-link">Friends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" >Invites</a>
    </li>
</ul>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Accept</th>
            </tr>
        </thead>
        <tbody *ngFor="let player of inviters">
            <tr>
                <td class="align-middle">{{player.id}}</td>
                <td class="align-middle">{{player.username}}</td>
                <td><button #inviteButton type="button" class="btn btn-success" (click)="onFriendInviteClick(player, inviteButton)">Accept</button></td>
            </tr>
        </tbody>
    </table>
</div>
