<div class="table-responsive">
    <table class="table" summary="Table of players">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players" (click)="open(content, player)">
                <td>{{player.id}}</td>
                <td>{{player.username}}</td>
                <td>{{player.points}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #content let-modal>
    <div class="modal-body">
        <ul class="list-group" *ngFor="let message of messages">
            <li class="list-group-item" [ngClass]="{'right' : (player && message.fromId != player.id)}">{{message.body}}</li>
        </ul>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input *ngIf="f" type="text" formControlName="message" class="form-control" [class.is-invalid]=" submitted && f.message.errors "/>
        </div>
      </form>
    </div>
</ng-template>