<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <td>ID</td>
                <td>Game Name</td>
                <td>Start Date</td>
                <td>End Date</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let game of games">
                <td>{{game.id}}</td>
                <td>{{game.gameName}}</td>
                <td>{{formattedDate(game.startDate)}}</td>
                <td>{{formattedDate(game.endDate)}}</td>
            </tr>
        </tbody>
    </table>
</div>
